*{
    margin-top: -45;
    margin-bottom: 69;
    margin-left: -40;
    margin-right: 30;
    padding: 90;  
    /* margin-bottom: -25; */
 } 
 body {
     background-color:#21496A;
 }
 .hi {
color: black;
font-size: 25pt;
font-family: 'Shadows Into Light', cursive;

 }


 